body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

.cat_title {
    color: green;
}

.cat_link {
    color: purple;
    text-decoration: underline;
}

.cat_description{
    color: red;
}


#cat_image {
    width: 500px;
}
.herencia {
    color: blue; /* Este color será heredado por los elementos hijos */
    font-size: 18px;
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed blue;
}

#texto-especifico {
    color: orange; /* Sobrescribe el color heredado  */
    font-size: 20px; /* Cambia el tamaño del texto solo para este elemento */
    font-weight: bold;
    border: 2px solid orange;
    margin-top: 10px;
    padding: 10px;
}
h1{
    text-align: center;
}
h5{
    background-color: purple;
    padding: 30px;
    border: 5px solid black;
    margin: 10px;
}
button{
    background-color: black;
    color: white;
    padding: 30px;
    border: 5px solid gold;
    margin: 10px;
}
.box-1{
    height: 100px;
    width: 100px;
    background: red;
}
.box-2{
    height: 100px;
    width: 100px;
    background: green;

}
.box-3{
    height: 100px;
    width: 100px;
    background: blue;

}
.box-4{
    height: 100px;
    width: 100px;
    background: yellow;
}
.box-5{
    height: 100px;
    width: 100px;
    background: yellowgreen;

}
.box-6{
    height: 100px;
    width: 100px;
    background: purple;

}
.box-7{
    height: 100px;
    width: 100px;
    background: peru;

}
.flex{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}